---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Card from "../components/Card.astro";
import { coolers } from '../data/data-neveras.ts'

const datos = coolers

---

<Layout title="Welcome to Astro.">
	<main class="min-h-screen">
		<section
			class="mx-auto grid max-w-[85rem] gap-4 px-4 py-14 sm:px-6 md:grid-cols-2 md:items-center md:gap-8 lg:px-8 2xl:max-w-full"
		>
			<div>
				<h1
					class="block text-balance text-6xl font-golda font-bold tracking-wide text-neutral-200  sm:text-4xl lg:text-6xl lg:leading-tight"
				>
					Spect Sheet
				</h1>

				<p
					class="mt-3 text-pretty text-xl leading-relaxed text-neutral-300  lg:w-4/5"
				>
					Coolers Criotec & Fogel
				</p>
				<div class="mt-7 grid w-full gap-3 sm:inline-flex"></div>
			</div>
			<div class="w-full grid grid-flow-row grid-cols-1 md:grid-cols-2 gap-5">
				{
				  datos.map((dato) => {
					return <Card href="#" title={dato.modelo} description={dato.details} />;
				  })
				}
			  </div>
		</section>
	</main>
</Layout>

<style></style>
