---
const {href}= Astro.props
---

<a href=`/coolers/${href}` class="w-full bg-[#21BAF7] group-active:bg-[#cb2ea9] group-hover:bg-[#cb2ea9] transition-colors duration-200 ease-in text-center text-white font-golda  border-b-4 border-b-[#ACF431] uppercase text-lg">
    see more
</a>