---
import Btn from "../components/Btn.astro";

interface Props {
  title: string;
  description: string;
  href: string;
}

const { href, title, description } = Astro.props;
---


  <div
    class="group flex flex-col items-center bg-white active:bg-[#211C6B] hover:bg-[#211C6B] active:[#FFFFFF] border border-gray-200 shadow md:flex-row md:max-w-xl justify-between p-4 leading-normal hover:text-white"
  >
    <h5 class="group-active:text-white group-hover:text-white mb-2 text-2xl font-bold font-pepsi-extended text-[#211C6B] tracking-tight">{title}</h5>
    <p class="text-center text-sm mb-3 font-normal">{description}</p>
    <Btn href={href} />
  </div>