---

import '@fontsource/anton-sc';
// Supports weights 200-800
import '@fontsource-variable/manrope';

import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Spec Sheet Coolers Criotec & Fogel" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
		<Footer />
		<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
	</body>
</html>
<style is:global>
	:root {
		
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}

	body{
		background-image: linear-gradient(to top, #030555, #070b5c, #0c1162, #101769, #141d70);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 100vh;
		height: 100%;
		font-family: 'Manrope Variable', sans-serif;
	}

	.font-golda{
		font-family: 'Anton SC', sans-serif;
	}


</style>
